services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "5000:5000/udp"
    environment:
      - HTTP_PORT=3000
      - SOCKET_HOST=127.0.0.1
      - SOCKET_PORT=5000
      - MONGO_URI=mongodb://mongo:27017/
      - MONGO_DB=messages_db
      - MONGO_COLLECTION=messages
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
